<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="discussion">
                <script id="message-template" type="text/x-handlebars-template">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 name">
                            {{name}}
                        </div>
                        <div class="col-xs-12 col-sm-10 message">
                            {{message}}
                        </div>
                    </div>
                </script>
            </div>
            <form id="send-message">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
    <input type="hidden" id="displayname" />
</div>

@section pageStyles{
    @Styles.Render("~/bundles/styles/areas/chat")
}

@section pageScripts{
    <script src="signalr/hubs"></script>
    @Scripts.Render("~/bundles/scripts/chat")   
}